<header>
<div class="H-logo"><span class="logo">&#123;</span>
<span class="logo">GS</span>
<span class="logo">&#125;</span>
</div>
<nav class="H-nav" >
  <a class="H-nav-link"><span class="H-span">Accueil</span><mat-icon class="H-icon">home</mat-icon></a>
  <a class="H-nav-link" (click)="scrollToSection('competences')"><span class="H-span">Compétences</span><mat-icon class="H-icon">code<</mat-icon></a>
  <a class="H-nav-link" (click)="scrollToSection('projets')" ><span class="H-span">Projets</span><mat-icon class="H-icon">work</mat-icon></a>
  <a class="H-nav-link" (click)="scrollToSection('footer')" ><span class="H-span">Contact</span><mat-icon class="H-icon">mail</mat-icon></a>
  </nav>
</header>

