<footer class="F-main">
<a class="F-logo" (click)="scrollToSection('accueil')" ><span class="F-span-logo">&#123;</span>
    <span class="F-span-logo">GS</span>
    <span class="F-span-logo">&#125;</span>
</a>
    <div class="F-footer-links">
        <a  target="_blank" [href]="'mailto:'+ this.mail"  title="Lien vers l'e-mail">
            <img class="F-footer-links-icons" src="../../assets/icones/email.png" alt="logo l'email">
        </a>
        <a  target="_blank" href="https://github.com/scudetti-guillaume"  title="lien vers github"  >
        <img class="F-footer-links-icons" src="../../assets/icones/github.png" alt="logo github">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/guillaume-scudetti-029639233/"  title="Lien vers LinkedIn" >
            <img class="F-footer-links-icons" src="../../assets/icones/linkedin-logo.png" alt="logo linkedin">
        </a>
    </div>
</footer>

