<!-- <header>
  <div class="H-logo"><span class="logo">&#123;</span>
    <span class="logo">GS</span>
    <span class="logo">&#125;</span>
  </div>
  <nav class="H-nav">
    <a routerLink="/" fragment="accueil"><span class="H-span">Accueil</span><mat-icon class="H-icon">home</mat-icon></a>
    <a routerLink="/competences" fragment="competences"><span class="H-span">Compétences</span><mat-icon
        class="H-icon">code</mat-icon></a>
    <a routerLink="/projets" fragment="projets"><span class="H-span">Projets</span><mat-icon
        class="H-icon">work</mat-icon></a>
    <a routerLink="/cv" fragment="cv"><span class="H-span">CV</span><mat-icon class="H-icon">description</mat-icon></a>
    <a routerLink="/contact" fragment="contact"><span class="H-span">Contact</span><mat-icon
        class="H-icon">mail</mat-icon></a>
  </nav>
</header>

<div id="accueil">
  <app-accueil></app-accueil>
</div> 

<div id="competences">
  <app-competences></app-competences>
</div>

<div id="projets">
  <app-projets></app-projets>
</div>

<div id="cv">
  <app-cv></app-cv>
</div>

<div id="contact">
  <app-contact></app-contact>
</div> 
 -->


<main class="main">
  <app-header class="header"></app-header>
  <app-accueil class="accueil"></app-accueil>
  <app-competences class="competence"></app-competences>
  <app-projets class="projets"></app-projets>
  <app-contact class="contact"></app-contact>
  <!-- <app-carousel></app-carousel> -->
</main>