@import "../../styles.scss";

.P-section{
display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: auto;
    // margin: auto;

}

.P-title {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
    font-size: 2.5rem;
        height: 3rem;
        background-clip: text;
        color: white;
        // color: transparent;
        // background-image: $background-maybar;
     
}

.P-carroussel-main{
display: flex;
height: 50%;
width: 100%;
}

.carrousel{
display: flex;
height: 100%;
width: 100%;
z-index: 1;
}