@import "../styles.scss";

.main{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}

.accueil,
.competence,
.projets{
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
}

.footer{
display: flex;
height: 10vh;
width: 100vw;
// background-color: #fff;
}

@media (max-width: 762px) {
.accueil,
    .competence,
    .projets {
    margin-top: 40px;
        height: auto;
    }
}



