@import "../styles.scss";

.main{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
}

.accueil,
.competence,
.projets{
    display: flex;
    height: 100vh;
    margin-bottom: 20px;
}

.footer{
display: flex;
height: 10vh;
width: 90vw;
}

@media (max-width: 762px) {
.accueil,
    .competence,
    .projets {
    margin-top: 40px;
        height: auto;
    }
}


@media  (orientation: landscape) {

.accueil{
        margin-top: 65px;
        margin-bottom: 20px;
    }
    .competence,
    .projets {
        display: flex;
        height:auto;
        margin-bottom: 20px;
    }

}
