<footer class="F-main">
<div class="F-logo"><span class="F-span-logo">&#123;</span>
    <span class="F-span-logo">GS</span>
    <span class="F-span-logo">&#125;</span>
</div>
    <div class="F-footer-links">
        <a href="mailto:votre@email.com"  title="Lien vers l'e-mail">
            <img class="F-footer-links-icons" src="../../assets/icones/email.png" alt="logo l'email">
        </a>
        <a href="https://github.com/scudetti-guillaume"  title="lien vers github"  >
        <img class="F-footer-links-icons" src="../../assets/icones/github.png" alt="logo github">
        </a>
        <a href="https://www.linkedin.com/in/guillaume-scudetti-029639233/"  title="Lien vers LinkedIn" >
            <img class="F-footer-links-icons" src="../../assets/icones/linkedin-logo.png" alt="logo linkedin">
        </a>
    </div>
</footer>

