<section class="C-main">
    <h2 class="C-main-title">Compétences</h2>
    <div class="C-wrapper">
        <div class="C-card">
            <h3 class="C-card-title">Front-end</h3>
            <ul class="C-card-ul">
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/htlm.svg" height="30px"
                        alt="Icon"><span class="C-card-span">HTML</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-90 "></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/css.svg" height="30px"
                        alt="Icon"><span class="C-card-span">CSS</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-90 "></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/js.png" height="30px" alt="Icon"><span
                        class="C-card-span">JavaScript</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-90 "></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/sass_icon.png" height="30px"
                        alt="Icon"><span class="C-card-span">SASS</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-70 "></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/react.png" height="30px"
                        alt="Icon"><span class="C-card-span">React</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-70"></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/vuejs.svg" height="30px"
                        alt="Icon"><span class="C-card-span">VueJS</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-70"></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/nuxtjs.svg" height="30px"
                        alt="Icon"><span class="C-card-span">Nuxt</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-40"></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/angular.svg" height="30px"
                        alt="Icon"><span class="C-card-span">Angular</span>
                    <div class="C-card-level">
                        <div class="C-card-level-master-40"></div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="C-card">
            <h3 class="C-card-title">Back-end</h3>
            <ul class="C-card-ul-backend">
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/nodejs.png" height="30px"
                        alt="Icon"><span class="C-card-span">Node.js</span>
                    <div class="C-card-level">
                    <div class="C-card-level-master-90"></div>
                    </div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/epress.png" height="30px" alt="Icon"><span class="C-card-span">Express.js</span>
                    <div class="C-card-level">
                    <div class="C-card-level-master-80"></div></div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/mongo.png" height="30px" alt="Icon"><span class="C-card-span">MongoDB</span>
                    <div class="C-card-level"><div class="C-card-level-master-80"></div></div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/socketio.svg" height="30px" alt="Icon"><span
                        class="C-card-span">Socket.io</span>
                    <div class="C-card-level"><div class="C-card-level-master-60"></div></div>
                </li>

            </ul>
            <h3 class="C-card-title">Outils et technologies</h3>
            <ul class="C-card-ul">
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/docker.svg" height="30px" alt="Icon"><span class="C-card-span">Docker</span>
                    <div class="C-card-level"><div class="C-card-level-master-50"></div></div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/git.svg" height="30px" alt="Icon"><span class="C-card-span">Git</span>
                    <div class="C-card-level"><div class="C-card-level-master-80"></div></div>
                </li>
                <li class="C-card-li"><img class="C-card-icon" src="assets/icones/linux.svg" height="30px" alt="Icon"><span class="C-card-span">Linux</span>
                    <div class="C-card-level"><div class="C-card-level-master-60"></div></div>
                </li>
            </ul> 
        </div>


        <!-- <div class="C-card">
            <h3 class="C-card-title">Outils et technologies</h3>
            <ul class="C-card-ul">
                <li class="C-card-li"><span class="C-card-span">MongoDB</span>
                    <div class="C-card-level"></div>
                </li>
                <li class="C-card-li"><span class="C-card-span">Docker</span>
                    <div class="C-card-level"></div>
                </li>
                <li class="C-card-li"><span class="C-card-span">Git</span>
                    <div class="C-card-level"></div>
                </li>
                <li class="C-card-li"><span class="C-card-span">Linux</span>
                    <div class="C-card-level"></div>
                </li>
            </ul>
        </div> -->

        <div class="C-card">
            <h3 class="C-card-title">Soft Skills</h3>
            <ul>
                <li>Rigueur</li>
                <li>Esprit d'équipe</li>
                <li>Communication</li>
                <li>Résolution de problèmes</li>
            </ul>
        </div>
    </div>
    <div class="C-download-button">
        <a href="../../assets/cv/CV_Scudetti_Guillaume.pdf" download="mon-cv.pdf" class="C-download-link">Télécharger
            mon
            CV</a>
    </div>
</section>