<section class="A-section">
    <div class="A-wrapper">
    <h2 class="A-H2">Bienvenue sur mon portfolio</h2>
    <p>Je suis un développeur Fullstack, passionné par l'univers de l'informatique.</p>
    <p>Après avoir suivi une formation sur OpenClassrooms, j'ai acquis des bases solides en développement web et j'ai eu
        l'opportunité de réaliser divers projets personnels ainsi que des collaborations enrichissantes avec des
        développeurs expérimentés.</p>
    <p>Mon intérêt pour le trading et l'univers crypto m'ont également inspiré à explorer les applications du
        développement dans ces domaines.</p>
    <p>Je suis toujours à la recherche de nouvelles opportunités d'apprentissage et d'élargir mes domaines de compétence.
        J'aime me tenir au courant des dernières avancées dans le
        domaine du développement web, la gestion de projet ou la sécurité informatique. Je suis constamment motivé à sortir
        de ma zone de confort et à relever de nouveaux défis.
        La sécurité informatique en particulier a attiré mon attention récemment. J'ai pris plaisir à approfondir mes
        connaissances et à mettre en pratique des techniques
        pour assurer la protection des applications web.</p>
    <a href="#competences" class="btn">Découvrir mes compétences</a>
    </div>
</section>