@import "../../styles.scss";

.A-section{
display: flex;
justify-content: center;
align-items: center;
height: 100%; 
text-align: center;
font-family: -apple-system;
font-size: large;
margin-bottom: 2%;
margin-top: 2%;
}

.A-wrapper{
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 100%;  
    color: white;
    width: 70%;
    padding: 1%;
}

a {
    background-clip: text;
    color: transparent;
    background-image: $background-maybar;
    text-decoration: none;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
}


.A-H2{
height: 5rem;
font-size: 2.5rem;
background-clip: text;
color: white;
// color: transparent;
// background-image:$background-maybar
}

p{
font-size: 1.5rem;
font-weight: 400;
margin-bottom: 2%;


}

@media (max-width: 625px) {
.A-section {
    margin-top: 4%;
  }
  
  
}

@media (max-width: 380px) {
.A-H2 {
    height: 8rem;
 
  }

}