<section class="A-section">
    <div class="A-wrapper">
        <h2 class="A-H2">Bienvenue sur mon portfolio</h2>
        <p>Je suis un développeur web junior, passionné par l'univers du développement depuis 2021.</p>
        <p>Après avoir suivi une formation sur OpenClassrooms, j'ai acquis les bases solides du développement web et j'ai eu
            l'opportunité de réaliser divers projets personnels ainsi que des collaborations enrichissantes avec des
            développeurs expérimentés.</p>
        <p>Mon intérêt pour le trading et l'univers crypto m'ont également inspiré à explorer les applications du
            développement dans ces domaines.</p>
        <p>Plus récemment, j'ai développé un intérêt particulier pour la sécurité informatique, notamment dans le
            contexte du web. J'ai pris plaisir à approfondir mes connaissances et à mettre en pratique des techniques
            pour assurer la protection des applications web.</p>
        <a href="#competences" class="btn">Découvrir mes compétences</a>
    </div>
</section>